//header
.head-wrap {
}
.main-wrap {
    margin: 0 auto;
    padding: 0 2%;
    .cts-l {
        //position: relative;
        .content-wrap {
            margin: 0 auto;
            padding: 8% 0;
        }
    }
    .cts-r {
        margin-top: 70px;
    }
}
//footer
.foot-wrap {
}