#nav-wrap-fix, #nav-wrap-org {
    display: table;
    width: 100%;
    //margin: 0 2%;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1px dotted #f5cd5d;
    border-bottom: 1px dotted #f5cd5d;
    box-shadow: 0 0 0px #f5bf5d;
    z-index: 100;
    li {
        display: table-cell;
        width: 20%;
        text-align: center;
        background-color: #000;
        a {
            font-family: 'Codystar', cursive;
            color: #f5cd5d;
            font-size: 16px;
            font-weight: bold;
            display: block;
            text-decoration: none;
            padding: 12px 0;
        }
        &:not(:last-child) {
            border-right: 1px dotted #f5cd5d;
        }
    }
}
#nav-wrap-fix {
    display: none;
}