.cts-r {
    padding: 0 10%;
    h2 {
        font-family: 'Codystar', cursive;
        font-weight: bold;
        color: #f5cd5d;
        text-shadow: 0px 0px 5px #f5bf5d;
        margin-bottom: 10px;
        text-align: center;
    }
    ul {
        li {
            &:not(:last-child) {
                margin-bottom: 50px;
            }
            h3 {
                font-size: 14px;
                color: #f5cd5d;
                //text-align: center;
                text-shadow: 0px 0px 3px #f5bf5d;
                border-bottom: 1px dotted #f5cd5d;
                margin-bottom: 10px;
            }
        }
    }
}