.btn-top {
    position: fixed;
    bottom: 50px;
    right: 10px;
    opacity: .9;
    a {
        text-align: center;
        display: table;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        //background-color: #000;
        border: 2px dotted #f5cd5d;
        text-decoration: none;
        color: #fff;
        span {
            display: table-cell;
            vertical-align: middle;
            font-size: 14px;
            font-family: 'Codystar', cursive;
            font-weight: bold;
            color: #f5cd5d;
            text-shadow: 0px 0px 5px #f5bf5d;
        }
    }
}